<section id="about" class="mx-auto flex justify-evenly mb-8 scroll-mt-36 lg:w-[70%] lg:flex-row lg:px-10 sm:w-[60%] xs:w-full xs:flex-col-reverse xs:px-0">
  <img
    src="/image1.jpg"
    alt="Profile Picture"
    class="object-cover mx-auto rounded-lg lg:w-[40%] lg:h-52 sm:ml-0 xs:w-[90%] xs:ml-5 xs:h-[150px]"
  />

  <div class="flex flex-col justify-center gap-y-3 text-center lg:w-[50%] lg:mx-0 md:mb-4 xs:w-[80%] xs:mb-6 xs:mx-auto">
    <h2 class="font-black text-[50px] xs:text-6xl">Hi, I'm <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#00dbde] from-30% via-[#fc00ff] via-70% to-[#fc00ff] xl:block xs:block">Ananda Fadhilah</span></h2>

    <p class="opacity-60 text-[17px]">
        <span class="block">I'm passionate about crafting digital solutions.</span>
        <span class="block">As a Fullstack Developer, I thrive on JavaScript.</span>
        <span class="block">In my free time, I enjoy diving into code and gaming.</span>
    </p>
  </div>
</section>
